<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="title">{{'Change Password'}}</div>

            <loading-image [is-loading]="isLoading"></loading-image>
            <div class="fund-transfer d-flex flex-row">

                <div class="step-area mt-4">
                    <!-- <label class="text-center step-label">Start</label> -->
                    <p-steps [(activeIndex)]="stepActiveIndex" [model]="stepItems" class="step-label-prepare"
                             id="step"></p-steps>
                </div>
                <div class="transfer-form-area">
                    <div class="transfer-form" style="width:426px">
                        <form (ngSubmit)="onChangeSubmit()" [formGroup]="chgPassForm">
                            <div class="form-group">
                                <label class="form-label" for="fromAccount">{{'Old Password'}}</label>
                                <input (paste)="(false)" (copy)="(false)" (cut)="(false)" [showPassword]="showOldPassword" autocomplete="off"
                                       class="form-control form-input reference"
                                       formControlName="oldPassword" id="oldPassword"
                                       name="oldPassword" pPassword
                                       placeholder="{{'Enter your old password'}}"required tabindex="1" type="password"
                                />
                                <span *ngIf="chgPassForm.controls['oldPassword'].dirty" class="show-pass-text">
                  <i (click)="onShowOldPasswordClick()" [className]="!showOldPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                     style="font-size: 32px"></i>
                </span>
                            </div>

                            <div class="form-group">

                                <label class="form-label" for="toAccount">{{'New Password'}}</label>
                                <input (paste)="(false)" (copy)="(false)" (cut)="(false)" [showPassword]="showNewPassword"
                                       autocomplete="off" class="form-control form-input reference"
                                       formControlName="newPassword"
                                       id="newPassword"
                                       name="newPassword"
                                       pPassword
                                       placeholder="{{'Enter your new password'}}"required tabindex="2"
                                       type="password"/>

                                <p-message *ngIf="chgPassForm.controls['newPassword'].invalid
                                            && chgPassForm.controls['newPassword'].dirty"
                                           severity="error"
                                           text="{{'InvalidPasswordMessage.PASS_INVALID_MESSAGE' }}">
                                </p-message>

                                <span *ngIf="chgPassForm.controls['newPassword'].dirty && chgPassForm.controls['newPassword'].invalid"
                                      class="text-count" hidden>{{chgPassForm.get('newPassword').value?.length}}</span>

                                <span *ngIf="chgPassForm.controls['newPassword'].dirty" class="show-pass-text">
                                <i (click)="onShowNewPasswordClick()"
                                   [className]="!showNewPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                                   style="font-size: 32px"></i>
                            </span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="transferAmount">Confirm Password</label>
                                <input (paste)="(false)" (copy)="(false)" (cut)="(false)" [attr.disabled]="!chgPassForm.get('newPassword').value ? '' : null"
                                       [showPassword]="showConfirmPassword" autocomplete="off"
                                       class="form-control form-input reference" formControlName="confirmPassword"
                                       id="confirmPassword" name="confirmPassword" pPassword
                                       placeholder="{{'Confirm your new password'}}"required tabindex="2"
                                       type="password"/>
                                <span *ngIf="chgPassForm.controls['confirmPassword'].dirty" class="show-pass-text">
                  <i (click)="onShowConfirmPasswordClick()"
                     [className]="!showConfirmPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                     style="font-size: 32px"></i>
                </span>
                                <p-message
                                        *ngIf="chgPassForm.controls['confirmPassword'].dirty && chgPassForm.controls['confirmPassword'].invalid"
                                        severity="error"
                                        text="{{'InvalidMessage.CONFIRM_PASSWORD_INVALID_MESSAGE'}}">
                                </p-message>
                            </div>
                            <div class="d-flex" style="margin-left:197px">
                                <a [routerLink]="['/']" class="register d-flex align-items-center mr-4 pull-right"
                                   style="color: #2A52BE;" tabindex="4">{{'CANCEL'}}</a>
                                <button [disabled]="isLoading || chgPassForm.invalid"
                                        class="btn btn-default btn-success transfer-btn pull-right" tabindex="5"
                                        type="submit">{{'CHANGE PASSWORD'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<p-toast></p-toast>