@import url(../../../assets/css/component/form.css);
.title {
  margin-top: 6%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
}
.fund-transfer {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
/*----------------------------------------*/
/*  1.2 Trasfer Form Area
/*----------------------------------------*/
.transfer-form-area {
  margin-left: 15px;
}

.transfer-form {
  margin-top: 15px;
}


.show-pass-text {
  position: relative;
  cursor: pointer !important;
  top: -34px;
  float: right;
  font-size: 16px;
  right: 14px;
  color: #666666;
}

.reference::placeholder {
  color: #B3B3B3;
  font-size: 14.67px;
  font-weight: 400;
  text-align: left;
}

:host ::ng-deep .ui-state-complete .ui-steps-error {
  background-color: #ED5565 !important;
  color: #ffffff !important;
}

:host ::ng-deep .p-steps-item {
  font-size: 12px;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: none;
}

:host ::ng-deep .p-steps ul {
  display: block;
}

:host ::ng-deep .p-steps .p-steps-item:before {
  content: none;
}

/*=========================================================================
Over write bootstrap css
===========================================================================*/
.btn-success{
  color: #fff;
  background: #2A52BE;
  border: none;
}