.form-group {
    margin-bottom: 24px;
}

.form-label{
  color: #808080;
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
  margin-left: 14px;
  font-weight: 400;
  text-align: left;
}

.form-input{
  height: 36px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #cccccc;
  padding: 0px 14px;
}

.form-input:focus{
    box-shadow: none;
}

.form-input:disabled, .form-input[readonly]{
    background: #ffffff;
    opacity: .6;
}

.form-control {
  color: #333;
}

legend {
  width: 20%  !important;
  margin-left: 20px !important;
}

.p-fieldset .p-fieldset-content {
  padding: 0 !important;

}

.p-fieldset {
  margin-bottom: 15px;
}