/*----------------------------------------*/
/*  5. Header Top
/*----------------------------------------*/
.web-top-menu{
    position: relative;
    top: 2px;
}
.web-top-menu a {
    color: #f6f7f9;
    margin-right: 20px;
}

.web-top-menu-right .list-inline-item:not(:last-child){
    margin-right: 1.5rem !important;

}
.dropdown-toggle::after{
    display: none;
}
.web-header-top-area {
    background: #477D4A;
    position: fixed;
    z-index: 99;
    left: 0px;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: all 0.3s;
    height: 67px;
}
.web-header-top-menu .navbar-nav>li>a {
    padding: 0px 20px;
    color: #fff;
    font-size: 14px;
}

.web-header-top-menu .navbar-nav>li a .angle-down-topmenu {
    margin-left: 4px;
}

.web-header-top-menu .navbar-nav>li>a:hover {
    color: #03a9f4;
}

.web-header-top-menu .navbar-nav>li .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #303030;
}

.web-header-top-menu .navbar-nav>li .dropdown-menu a:hover {
    background: #2b2a2a;
}

.web-header-top-menu .navbar-nav>li .dropdown-menu {
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    background-color: #303030;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .175);
}

.header-right-info .navbar-nav>li .dropdown-menu {
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .175);
}

.web-header-top-menu .nav>li>a:focus,
.web-header-top-menu .nav>li>a:hover,
.web-header-top-menu .nav>li>a:active {
    text-decoration: none;
    background-color: transparent;
}

.web-header-top-menu .nav .open>a,
.web-header-top-menu .nav .open>a:focus,
.web-header-top-menu .nav .open>a:hover {
    background-color: transparent;
}

.header-right-info .nav>li>a:focus,
.header-right-info .nav>li>a:hover,
.header-right-info .nav>li>a:active {
    text-decoration: none;
    background-color: transparent;
}

.header-right-info .nav.custon-set-tab>li>a:focus,
.header-right-info .nav.custon-set-tab>li>a:hover,
.header-right-info .nav.custon-set-tab>li>a:active {
    color: #03a9f4;
}

.header-right-info .nav.custon-set-tab>li>a {
    color: #303030;
}

.header-right-info .nav .open>a,
.web-header-top-menu .nav .open>a:focus,
.web-header-top-menu .nav .open>a:hover {
    background-color: transparent;
}

.header-right-info .navbar-nav {
    float: right;
    padding: 0px 0px;
}

.admin-logo {
    padding: 10px 0px;
}

.web-header-top-menu ul.header-top-nav li {
    display: inline-block;
    position: relative;
}

.web-header-top-menu ul.header-top-nav li ul.dropdown-header-top {
    position: absolute;
    top: 130%;
    left: -10px;
    width: 200px;
    background: #303030;
    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index: 999;
    padding: 10px 0px;
}

.web-header-top-menu ul.header-top-nav li ul.dropdown-header-top.in {
    opacity: 1;
    top: 100%;
    transition: all 0.5s ease 0s;
}

.admin-project-icon {
    margin-left: 5px;
    font-size: 10px;
    color: #fff;
}

.web-header-top-menu ul.header-top-nav li .dropdown-header-top li {
    display: block;
}

.web-header-top-menu ul.header-top-nav li .dropdown-header-top li a {
    display: block;
    color: #fff;
    padding: 15px 20px;
}

.web-header-top-menu ul.header-top-nav li .dropdown-header-top li a:hover {
    background: #03a9f4;
}

.web-header-top-menu ul.header-top-nav li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 18px 10px;
}


.header-right-info ul.header-right-menu li {
    display: inline-block;
}

.header-right-info ul.header-right-menu li .author-message-top,
.header-right-info ul.header-right-menu li .notification-author,
.header-right-info ul.header-right-menu li .author-log {
    position: absolute;
    top: 160%;
    /* left: -70px; */
    width: 330px;
    /* background: #343434; */
    text-align: left;
    opacity: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 999;
}
.dropdown-menu{
    left: unset;
    right: 0;
}

.header-right-info ul.header-right-menu li .dropdown-header-top.author-log {
    width: 200px;
    padding: 0px 0px;
}

.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li {
    display: block;
}

.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a {
    padding: 10px 20px;
    display: block;
    color: #303030;
    font-size: 14px;
}

.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li .author-log-ic {
    margin-right: 10px;
}

.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover,
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:focus {
    background: #2b2a2a;
}

.header-right-info ul.header-right-menu li.open .author-message-top,
.header-right-info ul.header-right-menu li.open .notification-author,
.header-right-info ul.header-right-menu li.open .author-log {
    opacity: 1;
    top: 170%;
    transition: all 0.5s ease 0s;
    visibility: visible;
}

.header-right-info ul.header-right-menu li ul.message-menu li a,
.header-right-info ul.header-right-menu li ul.notification-menu li a {
    margin: 20px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.header-right-info ul.header-right-menu li .message-view a,
.header-right-info ul.header-right-menu li .notification-view a {
    display: block;
    color: #ccc;
    font-size: 14px;
    border-top: 1px solid #383838;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
}

.header-right-info ul.header-right-menu>li>a {
    display: inline-block;
    color: #fff;
    padding: 0px 0px 0px 20px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

.indicator-nt {
    position: absolute;
    height: 5px;
    width: 5px;
    background: #03a9f4;
    border-radius: 50%;
    top: -5px;
    right: 0px;
}

.indicator-ms {
    position: absolute;
    height: 5px;
    width: 5px;
    background: #03a9f4;
    border-radius: 50%;
    top: -5px;
    right: -7px;
}

.header-right-info .admin-name {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-left: 2px;
}

.header-right-info .nav>li>a>img {
    width: 26px;
    border-radius: 50%;
}

.header-right-info .author-project-icon {
    color: #fff;
    font-size: 10px;
    position: relative;
    top: -4px;
    margin-left: 5px;
}

.header-right-info .message-author {
    position: relative;
}

.header-right-info .author-message-top:before,
.header-right-info .notification-author:before {
    position: absolute;
    content: "";
    display: inline-block;
    border-bottom: 10px solid #343434;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0;
    right: 50%;
    top: -9px;
    margin-right: -10px;
    z-index: 99;
}

.header-right-info .author-message-top li a {
    color: #fff;
}

.message-single-top h1,
.notification-single-top h1 {
    font-size: 16px;
    color: #303030;
    font-weight: 400;
    text-align: center;
    padding: 15px 0px;
    margin: 0px;
    border-bottom: 1px solid #383838;
}

ul.message-menu,
ul.notification-menu {
    height: 230px;
}

ul.message-menu li .message-img {
    float: left;
    width: 70px;
    margin-right: 10px;
}

ul.message-menu li .message-img img {
    border-radius: 50%;
}

ul.notification-menu li .notification-icon {
    float: left;
    width: 50px;
    height: 50px;
    background: #444;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    margin: 5px 10px 5px 0px;
}

ul.message-menu li .message-content,
ul.notification-menu li .notification-content {
    position: relative;
}

ul.message-menu li .message-content .message-date,
ul.notification-menu li .notification-content .notification-date {
    position: absolute;
    top: -2px;
    right: 0px;
    font-size: 13px;
    font-style: italic;
    color: #303030;
}

ul.message-menu li .message-content h2,
ul.notification-menu li .notification-content h2 {
    font-size: 14px;
    font-weight: 700;
    color: #303030;
}

ul.message-menu li .message-content p,
ul.notification-menu li .notification-content p {
    font-size: 14px;
    line-height: 20px;
    color: #303030;
}

.header-right-info ul.header-right-menu li.open>a {
    color: #fff;
}

.web-header-top-menu .navbar-nav>li.open>a {
    color: #03a9f4;
}

.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
    background: #343434;
}

.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.dropdown-menu {
    position: absolute;
    top: 170%;
    left: -358px;
    width: 400px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .175);
    padding: 20px;
}

.note-heading-indicate {
    margin-top: 20px;
}

.note-heading-indicate h2 {
    font-size: 18px;
    color: #303030;
}

.note-heading-indicate p {
    font-size: 14px;
    color: #303030;
}

.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a,
.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:focus,
.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:hover .notes-img {
    background: #303030;
}

.notes-img {
    float: left;
}

.notes-img img {
    border-radius: 50%;
    width: 60px;
}

.notes-list-flow .notes-content {
    margin-left: 80px;
}

.notes-list-flow .notes-content p {
    margin: 0px;
    font-size: 14px;
    color: #303030;
    line-height: 22px;
}

.notes-list-flow .notes-content span {
    font-size: 13px;
    color: #303030;
}

.notes-list-area ul.notes-menu-list li {
    margin: 10px 0px;
}

.notes-menu-scrollbar,
.project-st-menu-scrollbar {
    height: 315px;
}

.project-st-list-area ul.projects-st-menu-list li a {
    color: #303030;
}

.project-st-list-area ul.projects-st-menu-list li {
    padding: 10px 0px;
}

.projects-st-heading {
    position: relative;
}

.projects-st-heading .project-st-time {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 13px;
    color: #303030;
}

.projects-st-heading h2 {
    font-size: 16px;
    color: #303030;
}

.projects-st-heading p {
    font-size: 14px;
    color: #303030;
    line-height: 22px;
    margin: 0px 0px 10px;
}

.projects-st-content p {
    font-size: 14px;
    color: #303030;
    margin: 0px 0px 5px;
}

.projects-st-content .progress {
    height: 5px;
    margin-bottom: 5px;
}

.projects-st-content.project-rating-cl .progress-bar {
    background-color: #f8ac59;
}

.projects-st-content.project-rating-cl2 .progress-bar {
    background-color: #03a9f4;
}

.project-list-flow,
.notes-list-flow {
    margin-right: 15px;
}

ul.setting-panel-list li {
    display: block !important;
}

.checkbox-title-pro h2 {
    display: block;
    font-size: 14px;
    margin: 0px;
    padding: 8px 0px;
    color: #303030;
    font-weight: 400;
}

.checkbox-title-pro {
    position: relative;
}

.ts-custom-check {
    position: absolute;
    right: 0px;
    top: 5px;
}

.onoffswitch {
    position: relative;
    width: 54px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #006DF0;
    border-radius: 3px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #006DF0;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #FFFFFF;
    color: #919191;
    text-align: right;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #006DF0;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
}

/* .web-header-top-menu .navbar-nav>li .dropdown-menu,
.header-right-info ul.header-right-menu li .author-message-top,
.header-right-info ul.header-right-menu li .notification-author,
.header-right-info ul.header-right-menu li .author-log,
.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
    background: #e12503;
} */

.web-header-top-menu .navbar-nav>li .dropdown-menu a:hover,
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover,
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:focus,
.btn-info:active:hover {
    background: #F6F8FA;
}

.menu-switcher-pro .btn-info:active,
.menu-switcher-pro .btn-info:focus,
.menu-switcher-pro .btn-info:hover,
.menu-switcher-pro .btn-info:visited{
    background: #006DF0;
    outline:none;
}

.header-right-info ul.header-right-menu li .message-view a,
.header-right-info ul.header-right-menu li .notification-view a {
    border-top: 1px solid #F6F8FA;
}

.message-single-top h1,
.notification-single-top h1 {
    border-bottom: 1px solid #F6F8FA;
}

.header-right-info .author-message-top:before,
.header-right-info .notification-author:before {
    border-bottom: 10px solid #F6F8FA;
}

.web-header-top-menu .navbar-nav>li.open>a {
    color: #fff;
}

.web-header-top-menu .navbar-nav>li>a:hover {
    color: #fff;
}
.header-right-info .author-message-top::before,
.header-right-info .notification-author::before {
    position: unset;
    display: block;
    border-width: 0px;
}
.header-right-info .author-message-top:before,
.header-right-info .notification-author:before {
    position: absolute;
    content: "";
    display: inline-block;
    /* border-bottom: 10px solid #e12503; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0;
    right: 50%;
    top: -9px;
    margin-right: -10px;
    z-index: 99;
}

.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a,
.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:focus,
.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:hover .notes-img {
    background: #e12503;
}

.breadcome-list {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.sr-input-func {
    position: relative;
    margin: 0;
    width: 180px;
    right: 0px;
    transition: .5s ease-out;
}

.sr-input-func a {
    position: absolute;
    top: 8px;
    right: -5px;
    color: #999;
    transition: .5s ease-out;
    font-size: 14px;
}

.sr-input-func:focus a {
    color: #006DF0;
}
