:host >>> .ui-message {
  padding: 0;
  margin: 0;
  float: right;
}

:host >>> .ui-message.ui-message-error {
  color: #DD7781;
  background-color: transparent;
  border: 0 none;
}

:host >>> .ui-message .ui-message-text {
  font-size: 12px !important;
}

:host >>> .ui-message.ui-message-error .ui-message-icon {
  display: none;
}
.box-area {
  background: #ffffff;
  padding: 20px 20px;
  border-radius: 3px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 5px 2px rgba(0,0,0,0.23);
}
.pb-10 {
  padding-bottom: 10px;
}
.form-group {
  margin-bottom: 24px;
}
.ui-message.ui-message-error {
  color: #DD7781;
  background-color: transparent;
  border: 0 none;
  margin-top: 2px;
}
:host >>> .ui-inputtext::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

:host >>> .ui-inputtext:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

:host >>> .ui-inputtext:placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

.show-pass-text {
  position: relative;
  cursor: pointer !important;
  top: -28px;
  float: right;
  right: 14px;
  font-size: 16px;
  color: #666666;
}


.form-control:focus {
  border-color: #498E4D;
  /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
}