<div class="container container-set-password">
    <div class="row h-100 justify-content-center align-items-center" style="padding-top: 25%;">
        <div class="col-sm-5 col-md-5 col-lg-5 my-auto">
            <loading-image [is-loading]="isLoading"></loading-image>
            <div class="sign-in-up">
                <div class="box-area text-center">
                    <h4 class="pb-10">{{'Reset Password'}}</h4>
                    <h1 class="pb-3">{{userId}}</h1>
                    <div class="form-group">
                        <label class="form-label" for="newPassword">{{'New Password'}}</label>
                        <input #newPasswordModelRef="ngModel"
                               #newPasswordRef
                               (focus)="onNewPasswordFocus()"
                               [(ngModel)]="newPassword"
                               [showPassword]="showNewPassword"
                               autocomplete="off"
                               class="form-control form-input"
                               id="newPassword"
                               name="newPassword"
                               pPassword
                               placeholder="{{'Enter your Password'}}"required
                               tabindex="1"
                               type="password"/>
                        <span *ngIf="newPasswordModelRef.dirty" class="show-pass-text">
              <i (click)="onShowNewPasswordClick()"
                 [className]="!showNewPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
            </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="confirmPassword">{{'Confirm Password'}}</label>
                        <input #confirmPasswordModelRef="ngModel"
                               (focus)="onNewPasswordFocus()"
                               [(ngModel)]="confirmPassword"
                               [showPassword]="showConfirmPassword"
                               (paste)="(false)" (copy)="(false)" (cut)="(false)"
                               autocomplete="off"
                               class="form-control form-input"
                               id="confirmPassword"
                               name="confirmPassword"
                               pPassword
                               placeholder="{{'Confirm Your New Password'}}"required
                               tabindex="2"
                               type="password"/>
                        <span *ngIf="confirmPasswordModelRef.dirty" class="show-pass-text">
              <i (click)="onShowConfirmPasswordClick()"
                 [className]="!showConfirmPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
            </span>
                        <p-message *ngIf="confirmPasswordModelRef.dirty && confirmPasswordModelRef.invalid" severity="error"
                                   text="{{InvalidMessage.CONFIRM_PASSWORD_INVALID_MESSAGE}}">
                        </p-message>
                    </div>
                    <div class="login-action d-flex">
                        <div class="register mr-auto"></div>
                        <button (click)="onResetClick()" [disabled]="isLoading || newPasswordModelRef.invalid || confirmPasswordModelRef.invalid" class="btn btn-success" tabindex="3"
                                type="button"> RESET </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<p-toast></p-toast>