 .header-div {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 2000;
}

.active span {
  color: #428aea;
}

span, a {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.top-menu-left {
  padding-top: 10px;
}

 .header-top-area{
   height: 70px !important;
 }