<div class="center">
  <div class="error-code">404. <span>That's an error.</span></div>
  <div class="info">The requested URL was not found on this server.</div>
  <div class="message">That's all we know.</div>
</div>