.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-code {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.error-code span {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}

.info {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}


