<!-- <loading-image [is-loading]="isLoading"></loading-image>
<div class="container-fluid" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-6" style="padding-top: 35px">
      <div class="chart" style="border: 1px solid rgba(21, 36, 94, 0.1)">
        <h4 style="font-weight: bolder; padding-left: 10px">
          NBR Statistics
        </h4>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
          [colors]="chartOptions.options.colors"
        ></apx-chart>
      </div>
    </div>
    <div class="col-md-6">
      <p-dropdown
        [showClear]="true"
        [(ngModel)]="requestType"
        [options]="requestTypeList"
        (ngModelChange)="selectRequestType()"
        id="requestType"
        optionLabel="name"
        optionValue="oid"
        dataKey="this.requestList.oid"
        placeholder="Select Request Type"
      >
      </p-dropdown>
      <div
        id="chart1"
        style="margin-top: -0.1px; border: 1px solid rgba(21, 36, 94, 0.1)"
      >
        <h4 style="font-weight: bolder; padding-left: 10px">
          AW User statistics in a week
        </h4>
        <br />
        <apx-chart
          [series]="chartOptions1.series"
          [chart]="chartOptions1.chart"
          [dataLabels]="chartOptions1.dataLabels"
          [plotOptions]="chartOptions1.plotOptions"
          [responsive]="chartOptions1.responsive"
          [xaxis]="chartOptions1.xaxis"
          [legend]="chartOptions1.legend"
          [fill]="chartOptions1.fill"
          [colors]="chartOptions1.fill.colors"
        ></apx-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="chart2" style="border: 1px solid rgba(21, 36, 94, 0.1)">
        <h4 style="font-weight: bolder; padding-left: 10px">
          User Request Statistics in last seven days
        </h4>
        <br />
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [stroke]="chartOptions2.stroke"
          [tooltip]="chartOptions2.tooltip"
          [dataLabels]="chartOptions2.dataLabels"
          [legend]="chartOptions2.legend"
          [markers]="chartOptions2.markers"
          [grid]="chartOptions2.grid"
          [yaxis]="chartOptions2.yaxis"
          [title]="chartOptions2.title"
          [colors]="chartOptions2.options.colors"
        ></apx-chart>
      </div>
    </div>
  </div>
</div> -->