/* @import url(../../assets/css/styles.css); */

.box-area {
  background: #ffffff;
  padding: 20px 20px;
  border-radius: 3px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 5px 2px rgba(0,0,0,0.23);
}

.pb-20 {
  padding-bottom: 20px;
}
.form-control:focus {
  border-color: #498E4D;
  /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
}

.align-items-right {
  text-align: right;
}
.form-group {
  margin-bottom: 24px;
}

.ui-message.ui-message-error {
  color: #DD7781;
  background-color: transparent;
  border: 0 none;
  margin-top: 2px;
}

.sign-in-up {
  padding-top: 0px;
}


.form-control:focus {
  border-color: #2A52BE ;
  /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
}

.bg {
  background: url(../../../assets/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
/*==============================================================
Over write bootstrap class
===============================================================*/
.btn-success{
  background: #2A52BE;
  color: #fff;
  border: none;
}
.form-label{
  margin-left: 0;
  font-size: 1rem;
  font-weight: 700;
}

/* :host > > > .ui-inputtext::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

:host > > > .ui-inputtext:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

:host > > > .ui-inputtext:placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
} */