<div class="container-fluid container-otp bg">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5 col-lg-4 my-auto">
            <loading-image [is-loading]="isLoading"></loading-image>
            <div>
                <div class="text-center">
                    <div class="sign-in-up">
                        <div class="box-area">
                            <h4 class="pb-20">Recovery of Password or User ID</h4>
                            <div class="form-group mb-4">
                                <!--<label class="form-label" for="userId">User ID</label>-->
                                <div class="" style="float: left">
                                    <input type="radio" [(ngModel)]="recoveryType" name="recoveryType" value="userId" checked>&nbsp;Recover Password

                                    &nbsp;
                                    <input type="radio" [(ngModel)]="recoveryType" name="recoveryType" value="nid">&nbsp;Recover User ID
                                </div>
                                <br><br>
                                <input *ngIf="recoveryType=='userId'" type="text" class="form-control form-input" tabindex="1"
                                       id="userId"
                                       name="userId"
                                       autocomplete="off"
                                       #userIdModelRef="ngModel"
                                       [(ngModel)]="userId"
                                       placeholder="Please input your User ID"
                                       iAutofocus
                                       required/>
                                <input *ngIf="recoveryType=='nid'" type="text" class="form-control form-input" tabindex="1"
                                       id="userId"
                                       name="userId"
                                       autocomplete="off"
                                       #userIdModelRef="ngModel"
                                       [(ngModel)]="userId"
                                       placeholder="Please input your NID"
                                       iAutofocus
                                       required/>
                            </div>
                            <div class="align-items-right">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button [routerLink]="['/login']" class="btn transparent-btn" tabindex="3">
                                            BACK
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="form-control btn btn-success" tabindex="2"
                                                (click)="onSubmitClick()">
                                            SUBMIT
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-dialog class="forgetModal" [(visible)]="foregetModal" [draggable]="false" [modal]="true" [resizable]="false" [style]="{width: '40vw'}"
                      header="Congratulation!">
                <p>Please check your mobile & email address. If you do not get any message then contact with IT Department</p>
                <ng-template pTemplate="footer">
                    <!-- <p-button (click)="this.loginModal = false;" data-dismiss="modal" icon="pi pi-times" label="Cancel"
                             styleClass="p-button"> -->
                    <!-- </p-button> -->
                    <p-button (click)="backButton()" icon="pi pi-check" label="Ok" styleClass="p-button-success"></p-button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>