<div style="height: 100%; width: 100vw; display: flex; align-items: center; justify-content: center">
    <div class="container-fluid" style="border: 1px solid; height: 50%; width: 30%; display: flex; justify-content: center; flex-direction: column" >
      <div class="">
        <h2>Register</h2>
      </div>
      <div class="">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              <span class="spinner-border spinner-border-sm mr-1"></span>
              Register
            </button>
            <a routerLink="/sign-in" class="btn btn-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>