<div class="print-me">
  <div class="page-header d-flex align-items-center">
    <h4 class="ml-3">ব্যক্তিগত তথ্য</h4>
  </div>
</div>

<div class="bg">
  <div class="form-container">
    <div class="row pt-4 d-flex justify-content-center">
      <div class="col-md-6 col-sm-6">
        <section id="specification">
          <table cellpadding="0" cellspacing="0" class="view-table">
            <colgroup>
              <col class="name" />
              <col class="value" />
            </colgroup>
            <thead>
              <tr>
                <td class="heading-row" colspan="4">
                  <h5>{{ this.profileInfo?.name }} এর প্রোফাইল</h5>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="name">{{ "নাম" }}</td>
                <td class="value">{{ this.profileInfo?.name }}</td>
              </tr>
              <tr>
                <td class="name">{{ "ইউজার আইডি" }}</td>
                <td class="value">{{ this.profileInfo?.userId }}</td>
              </tr>
              <tr>
                <td class="name">{{ "প্রতিষ্ঠানের নাম ও ঠিকানা" }}</td>
              </tr>
              <tr>
                <td class="name">{{ "জন্ম তারিখ" }}</td>
                <td class="value">
                  {{ this.profileInfo?.dob | date: "yyyy-MMM-dd" }}</td>
              </tr>
              <tr>

                <td class="name">{{ "জাতীয় পরিচয় পত্রের নম্বর" }}</td>

                <td class="value">{{ this.profileInfo?.nidNumber }}</td>
              </tr>
              <tr>
                <td class="name">{{ "যোগদান তারিখ" }}</td>
                <td class="value">
                {{ this.profileInfo?.joinDate | date: "yyyy-MMM-dd" }}</td>
              </tr>
              <tr>
                <td class="name">{{ "মোবাইল নম্বর" }}</td>
                <td class="value">{{ this.profileInfo?.mobileNo }}</td>
              </tr>
              <tr>
                <td class="name">{{ "অবস্থা" }}</td>
                <td class="value">{{ this.profileInfo?.awUserStatus }}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>

  <p-toast></p-toast>
</div>