.page-header{
    width: calc(100% - 30px);
    height: 67px;
    margin: 108px 15px 0 15px;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 8px;
}

.form-container{
    margin: 15px;
}

.form-section{
    padding: 10px;
    margin-bottom: 15px;
    background-color: #F4F4F4;
    border-radius: 8px;
}
.form-section-2{
    padding: 25px 25px 25px 25px;
    margin: 15px 15px 15px 15px;
    background-color: #ffffff;
    border-radius: 8px;
}

.form-control{
    padding: 17px !important;
}

.file{
    padding: 3px !important
}

.btn-green{
    border: none;
    background-color: #509931 !important;
}

.btn-red{
    border: none;
    background-color: #FF0000 !important;
}

.btn-primary{
    border: none;
    background-color: #800000 !important;
}

.required:after {
    content: " *";
    color: red;
}

.bg {
    /* background: url(../../../../assets/images/bg.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto !important;
}


a {
    cursor: pointer;
}

.view-table {
    width: 100%;
}

.view-table tr {
    border-bottom: 1px solid #e1e1e1;
}

.view-table .heading-row {
    background: #800000 !important;
    padding: 10px 15px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}

.view-table .verify-checkbox {
    padding: 0 15px;
    width: 5%;
    background: #eeeeee;
    text-align: left;
    color: #464444;
    font-size: 13px;
    line-height: 35px;
    font-weight: 600;
}


.view-table .name {
    padding: 0 15px;
    width: 35%;
    background: #eeeeee;
    text-align: right;
    color: #464444;
    font-size: 13px;
    line-height: 35px;
    font-weight: 600;
}

.view-table .value {
    padding: 0 15px;
    width: 55%;
    background: #ffffff;
    color: #222222;
    font-size: 14px;
    line-height: 22px;
}

.view-table .doc {
    padding: 0 15px;
    width: 100%;
    background: #eeeeee;
    text-align: left;
    color: #464444;
    font-size: 13px;
    line-height: 35px;
    font-weight: 600;
}


@media print {
    @media print {
        .doNotPrint {
            display: none;
        }
    }
}

@media print {
    .data-table, thead {
        page-break-inside: avoid;
    }
}