.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 5px 2px rgba(0,0,0,0.23);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.invalid {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login-again {
  font-size: 20px;
  font-weight: 400;
  color: gray;
}