<loading-image [is-loading]="isLoading"></loading-image>

<div class="container">
  <div class="center">
    <div class="invalid">Invalid session</div>
    <div class="login-again">You need to <a [routerLink]="['/login']">login</a> again</div>
  </div>
</div>