<div *ngIf="disableSidebar" class="sidebar-div"></div>

<div class="left-sidebar-pro">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a [routerLink]="[defaultLink]" href="javascript:void(0)">
                <div class="top-menu-left d-none d-sm-block d-flex justify-content-center"
                    style="background-color: #15245E; height: 70px; padding-top: 10px; margin-left: -21px;">
                    <span
                        style="color: #fff; font-size: 24px; font-weight: 600; margin-left: 15px; position: absolute; margin-top: 12px;">{{'SSCL' | translate}}</span>
                </div>
            </a>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul id="metismenu">
                    <ng-container *ngFor="let item of menuJson; let i = index">
                        <li *ngIf= "checkPermissionMenu(item)" style="border: 1px solid rgb(36, 22, 141); padding: 5px 8px; font-size: 24px">
                           <ng-container *ngIf="item['leftMenuId'].length == 1">
                               <a *ngIf= "checkPermissionLink(item['leftMenuId'][0])"[routerLink]="[item['leftMenuId'][0]]" aria-expanded="false">
                                   <i class="pi pi-list px-2"></i>
                                   <span class="mini-click-non">{{item['topMenuId']}}</span>
                               </a>
                            </ng-container>
                            
                        </li>
                    </ng-container>
                </ul>
            </nav>
        </div>
    </nav>
</div>
